a{text-decoration: none;}
li{list-style: none;}
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Kanit', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
body{
background-color: #0E2954;
}
.UserProfileImg{
    width:40px;
    height: 35px;
    border-radius: 25px;
}
/* .firstbg-image{
    background-image: 
} */
/* NAV */
/* containernav ul logo centeritem enditem li a */
.containernav{
    width: 100%;
    min-height: 10vh;
    background-color: #1e1e1e
}
.containernav__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
}
.containernav__ul__logo{
    display: none;
}
.containernav__ul__centeritem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:18px;
    
}
.containernav__ul__centeritem li form input{
    border-radius: 10px;
    border: 1px solid rgb(152, 152, 152);
}
.containernav__ul__centeritem li a{
    color: rgb(152, 152, 152);
    transition: all 0.5s;
}
.containernav__ul__centeritem li a:hover{
    color: rgb(171, 253, 158);
    border-top: 2px solid  rgb(152, 152, 152);
    margin-top: 5px;
}
.containernav__ul__enditem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10vw;
    margin-right: 25px;
    align-items: end;
    justify-content: end;
}
.containernav__ul__enditem li .containerimg {
    display: flex;
    flex-direction: column;
    
    color: white;
    text-decoration: none;
}
.containernav__ul__centeritem li .containerimg span{
    margin: 0 auto;
    background-color: red;
}
/* HERO */


/* HERO */
/* containerhero gridwords favproduct span h1 p*/

.containerhero{
    height:60vh ;
    width: 100%;
    /* background-color:#1e1e1e ; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.containerhero__gridwords{
    width: 50%;
    margin: 0 auto;
}
.containerhero__gridwords__words{
    width: 50%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.containerhero__gridwords__words span{
    color: rgb(171, 253, 158);
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;

}
.containerhero__gridwords__words h1{
    color: rgb(81, 81, 81);
    font-weight: 700;
    font-size: 50px;
}
.containerhero__gridwords__words p{
    color: rgb(81, 81, 81);
    font-weight: 700;
    font-size: 15px;
}
.containerhero__favproduct{
    width: 50%;

}
.containerhero__favproduct img{
    border-radius: 10px;
    margin: 25px auto;
    border: 2px solid rgb(171, 253, 158);

}


/* PRODUCTS CAR */
/* containercar items total */

.containercar{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.containercar__items{
    width: 70%;
    margin: 0 auto;
    padding: 20px;

}
.containercar__items__flex{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5vh;
    max-height: 20vh;
}
.containercar__items__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.containercar__items__flex__name{
    width: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 20vh;
    padding: 10px;
}
.containercar__items__flex__name p{
    height: 10px;
}

.containercar__items__flex__form{
    align-self: center;
    margin-left: 5px;
}
.carimg{
    max-width: 100px;
    max-height: 90px;
}
.containercar__total{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
height: max-content;
border-left: 1px solid black;
}
.containercar__total__flex{
    display: flex;
    flex-direction: column;

}
.containercar__total h1{
    font-size: 30px;
    color: rgb(18, 18, 18);
    padding: 10px;
}
.containercar__total p{
    font-size: 15px;
    color: rgb(18, 18, 18);
    padding: 10px;
}
.containercar__total span{
    margin-left: 100px;
}
.containercar__total a{
    text-decoration: none;
    color: white;
    background-color: #1e1e1e;
    border-radius: 3px;
    padding: 20px;
    height: max-content;
    width: 100%;
    text-align: center;
}
.containercar__total a:hover{
    color: white;
}

/* GENRE SECTION */
/* containergenre box h6 a*/
.containergenre{
    min-height: 30vh;
    min-width: 100%;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #1e1e1e;
}
.containergenre a{
    margin: 5px;
    min-width: 150px;
    min-height:150px ;
    
    border-radius: 10px;
    text-align: start;
    padding: 20px;
    align-self: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.888);
    color: rgb(81, 81, 81);
    transition: all 0.5s;
}
.containergenre a:hover{
    color: rgb(171, 253, 158);
    border: 4px solid rgb(171, 253, 158);
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}


/* ALBUMES MAIN */


.container-products{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-wrap: wrap;
    
}
.products{
    padding: 25px;
    /* border: 1px solid #1e11e; */
    background-color: #1e1e1e;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    min-height: 60vh;
    width: 35vw;
    transition: all 1s;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
}
.products:hover{
    background-color: #545454;
}
.products__containerimage{
    overflow: hidden;

}
.products__containerimage__image{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding: 2px;
}
.products__containertext{
    min-width: 100%;
    max-height: 150px;
    font-size: 25px
}
.products__containertext .price{
    font-size: 20px;
}
.save{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
}
.save input{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
}
.save a{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
    color: #545454;
    text-decoration: none;
}
.ProductsSubmit {
    background-color: rgb(204, 156, 156);
    border-radius: 10px;
    padding: 1em;
    width: 5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ProductsSubmit:checked{
    background-color: white;
}
.amount{
    background-color: rgb(255, 255, 255);
    width: 50px;
}
/* .products__amount #contador:hover{
    background-color: rgb(171, 253, 158);
} */
/* DETAIL PRODUCT */

/* PROFILE USER */
/* containerprofile user */


.containerprofile{
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #1e1e1e;
    border-left: 2px solid #545454;
    border-right: 2px solid #545454;
    padding: 20px;
    color: aliceblue;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;

}
.containerprofile a{
    color: rgb(152, 152, 152);
    text-decoration: none;
    transition: all 1s;
}
.containerprofile a:hover{
    color: rgb(171, 253, 158);
    text-decoration: underline;
}
.containerprofile__user{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.containerprofile__user p{
    font-size: 25px;
}
.containerprofile__user a{
    margin-left: 200px;


}
.containerprofile a{
    font-size: 18px;
    display: inline-block;

}
.containerprofile .pedidos{
    font-size: 20px;
    margin-top: 5vh;
    text-align: center;
    
}

/* detailproduct */
/* detailproduct img detail span p*/
.detailproduct{
    width: 90%;
    margin: 25px auto;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: #1e1e1e 2px solid;
    border-radius: 10px;
    padding: 0.5em;
}
.detailproduct__img{
    margin-top: 12px;
}
.detailproduct img{
    border-radius: 10px 0px 0px 10px;
    width: 300px;
    height: 300px;
}
.detailproduct__detail{
    padding: 0.5em;
    margin-top: 5px;
}
.detailproduct__detail span{
    color: #545454;
    font-size: 20px;
}
.detailproduct__detail p{
    font-size: 20px;
    color: #1e1e1e;
}
.detailproduct__detail .price{
    font-size: 25px;
    color: rgb(171, 253, 158);
    text-shadow: 2px 2px 2px black;
    font-weight: 600;
}
.detailproduct__detail .añadir{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    transition: all 0.5s;
}
.detailproduct__detail .añadir:hover{
    background-color: rgb(171, 253, 158);
}
.detailproduct__detail a{
    color: #545454;
}
/* COMENTS */
/* h1 containercoments coment header  */
.containercoments{
    width: 100%;
    background-color: #1e1e1e;
    color: aliceblue;
    padding: 1em;
}
.containercoments h1{
    margin-top: 10px;
    background: #1e1e1e;
    text-align: left;
    color: aliceblue;
}
.containercoments p{
    font-size: 20px;
    color: aliceblue;
}
.containercoments__coment{
    display: flex;
    flex-direction: column;
    background-color: #545454;
    border: rgb(171, 253, 158) 2px solid;
    border-radius: 5px;
    margin-top: 1em;
    padding-inline-start: 0.5em;
}
.containercoments__coment__header{
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: nowrap;
}
.containercoments__input label{
    font-size: 25px;
    padding: 1em;
}


/* ADD PRODUCT */
/* addcontainer img form */

.addcontainer{
    width: 100%;
    margin: 0 auto;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    
}
.addcontainer__img img{
    height: 100vh;
    width: 40vw;
    border-right: 2px solid rgb(171, 253, 158);
}
.addcontainer__form{
    margin: 50px auto;
}
.form_group{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

/* LOGIN */
/* containerlogin img form */
.containerlogin{
    width: 100%;
    margin: 0 auto;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
}
.containerlogin__img img{
    height: 100vh;
    width: 40vw;
    border-right: 2px solid rgb(171, 253, 158);
}
.containerlogin__form{
    margin: 50px auto;
}
.form_group{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

/* REGISTER */
/* containerregister img form */
.containerregister{
    width: 100%;
    margin: 0 auto;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
}
.containerregister__img img{
    height: 100vh;
    width: 40vw;
    border-right: 2px solid rgb(171, 253, 158);
}
.containerregister__form{
    width: 25%;
    margin: 50px auto;
}
.form_group{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}










@media (min-width:750px) {
    /* Pantallas grandes */
    .containernav{
        width: 100%;
        min-height: 10vh;
        background-color: #1e1e1e
    }
    .containernav__ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 20px;
    }
    .containernav__ul__logo{
        display: none;

    }

    .containernav__ul__centeritem{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size:18px;
        
    }
    .containernav__ul__centeritem li form input{
        border-radius: 10px;
        border: 1px solid rgb(152, 152, 152);
    }
    .containernav__ul__centeritem li a{
        color: rgb(152, 152, 152);
        transition: all 0.5s;
    }
    .containernav__ul__centeritem li a:hover{
        color: rgb(171, 253, 158);
        border-top: 2px solid  rgb(152, 152, 152);
        margin-top: 5px;
    }
    .containernav__ul__enditem{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10vw;
        margin-right: 25px;
        align-items: end;
        justify-content: end;
    }
    .containernav__ul__enditem li .containerimg {
        display: flex;
        flex-direction: column;
        
        color: white;
        text-decoration: none;
    }
    .containernav__ul__centeritem li .containerimg span{
        margin: 0 auto;
        background-color: red;
    }

    /* ALBUMES MAIN */
    .container-products{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 2em;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .products{
        padding: 25px;
        /* border: 1px solid #1e11e; */
        background-color: #1e1e1e;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        font-size: 20px;
        min-height: 60vh;
        width: 18vw;
        transition: all 1s;
        font-family: 'Kanit', sans-serif;
        border-radius: 10px;
    }
    .products:hover{
        background-color: rgb(171, 253, 158);
    }
    .products__containerimage{
        overflow: hidden;

    }
    .products__containerimage__image{
        width: 100%;
        height: 150px;
        margin: 0 auto;
        padding: 2px;
    }
    .products__containertext{
        min-width: 100%;
        max-height: 150px;
        font-size: 25px
    }
    .products__containertext .price{
        font-size: 20px;
    }
    .save{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1em;
    }
    .save input{
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 5px;
    }
    .ProductsSubmit {
        background-color: rgb(204, 156, 156);
        border-radius: 10px;
        padding: 1em;
        width: 5vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .ProductsSubmit:checked{
        background-color: white;
    }
    .amount{
    background-color: rgb(255, 255, 255);
    width: 50px;
/* PRODUCTS CAR */
/* containercar items total */
}
    /* PRODUCTS CAR */
    .containercar{
        min-height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .containercar__items{
        width: 70%;
        margin: 0 auto;
        padding: 20px;

    }
    .containercar__items__flex{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 5px;
        margin-top: 5vh;
        max-height: 20vh;
    }
    .containercar__items__flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .containercar__items__flex__name{
        width: 470px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-height: 20vh;
        padding: 10px;
        gap: 3em;
        text-align: center;
    }
    .containercar__items__flex__name p{
        height: 10px;
        font-size: 20px;
    }

    .containercar__items__flex__form{
        align-self: center;
        margin-left: 5px;
    }
    .carimg{
        max-width: 100px;
        max-height: 90px;
    }
    .containercar__total{
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    height: max-content;
    border-left: 1px solid black;
    }
    .containercar__total__flex{
        display: flex;
        flex-direction: column;

    }
    .containercar__total h1{
        font-size: 30px;
        color: rgb(18, 18, 18);
        padding: 10px;
    }
    .containercar__total p{
        font-size: 15px;
        color: rgb(18, 18, 18);

        padding: 10px;
    }
    .containercar__total span{
        margin-left: 100px;
    }
    .containercar__total a{
        text-decoration: none;
        color: white;
        background-color: #1e1e1e;
        border-radius: 3px;
        padding: 20px;
        height: max-content;
        width: 100%;
        text-align: center;
    }
    .containercar__total a:hover{
        color: white;
    }

}