{%extends 'base.html' %}
{%load static%}
{%load widget_tweaks %}
{%block content%}
<div class="containerlogin">
    <div class="containerlogin__img">
        <img src="{% static 'images/loginimg.jpg' %}" alt="">
    </div>
    <form class="containerlogin__form"action="" method="POST">
        {%csrf_token%}
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="form_group">
            <label for="">Nombre</label>
            {% render_field form.username class+="form-control"%}
        </div>
        
        <div class="form_group">
            <label for="">password</label>
            {% render_field form.password class+="form-control"%}
        </div>



        <div class="d-grid gap-2">
            <input type="submit" value="Guardar" class="btn btn-outline-primary mt-2">
        </div>

        <div class="text-white">
            <p>Olvidaste la contraseña?<a href="{%url 'password_reset' %}">Click aqui</a></p>
            <p>Si no tienes una cuenta<a href="{%url 'register' %}">Click aqui</a></p>
        </div>
    </form>


</div>

{%endblock%}


