
<h1>Inicio de sesion</h1>

<form action="" method="POST">
    {%csrf_token%}
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    
    <!-- <label for="email">Email</label>
    <input type="text" name="email" id="email">

    <label for="password"></label>
    <input type="password" name="password" id="password"> -->

        {{form.as_p}}

    <input type="submit" value='Guardar'>
</form>