{%extends 'base.html' %}


{%block content%}

<div class="containercar">
    <div class="containercar__items">
        {%for ProductsLists in ProductsList%}
        <div class="containercar__items__flex">
            <div class="containercar__items__flex__containerimg">
                <img class="carimg"src="{{ProductsLists.product.image.url}}" alt="Image">
            </div>
            <div class="containercar__items__flex__name">
                <p>{{ProductsLists.product}}  {{ProductsLists.product.price}}</p>
                <p>cantidad {{ProductsLists.caramount}}</p>
                <p class="">Total {{ntotal}}</p>
            </div>
            <form class="containercar__items__flex__form" action="" method='POST'>
                {%csrf_token%}
                <input class="btn btn-dark" type="submit" value='Eliminar' name=eliminar{{ProductsLists.id}}> 
                
            </form>
            
        </div>
        {%endfor%}
    </div>
    <div class="containercar__total">
        <div class="containercar__total__flex">
            <h1>Resumen del pedido</h1>
            <p>TOTAL: <span>{{PriceProduct}}</span> </p> 
            <a href="#">COMPRAR AHORA</a>
        </div>
        

    </div>
</div>

{%endblock%}