{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="containerhero">
    <div class="containerhero__gridwords">
        <div class="containerhero__gridwords__words">
        <span>${{favoriteproduct.price}}</span>
        <h1>{{favoriteproduct.name}}</h1>
        <p>Artista: {{favoriteproduct.artist}}</p>
        </div>
    </div>
    <div class="containerhero__favproduct">
        <img src="{{favoriteproduct.image.url}}" alt="Producto">
    </div>
</div>

<div class="containergenre">
    {%for eachgenre in genre%}
    
        <a href="{% url 'genre' eachgenre.id %}">{{eachgenre.name}}</a>
    
    {%endfor%}
</div>

<div class="container-products">
{%for products in product%}
    <form action="" mehod="GET">
        <div class="products">
            <a class="products__containerimage" href="{% url 'detail' products.id %}">
                <img class="products__containerimage__image"src="{{products.image.url}}" alt="Image">
            </a>
            <div class="products__containertext">
                <p>{{products.artist}} - {{products.name}}</p>
                <p class="price">${{products.price}}</p>
                
            </div>

            <div class="save">
                <form method="get" action="{% url 'updateamount' %}">
                    <input class="amount" type="number" name="cantidad" value="{{ products.amount }}" min="1">
                </form>
                <input class="enviar"type="submit" value="AÑADIR" name="save{{products.id}}" >
            </div>
        </div>
    </form>
{%endfor%}
</div>

<script src="{%static 'js/contador.js'%}"></script>

{%endblock%}
