

{%block content%}
{%load static%}



<nav class="navmain">
    <div class="container">
        <ul class="flex">
            
            <li><a href="#"></a>Delivery</li>
            <li><a href="#"></a>ubicacion</li>
            <li><a href="#"></a>Sobre nosotros</li>
            <li><a href="#"></a>Contactenos</li>
            
            {%if request.user.is_autheticated%}
            <li><a href="#"></a>Perfil</li>
            <li><a href="{%url 'LogoutUser' %}">Logout</a></li>
            {%else%}        
            <li><a href="{%url 'login' %}">iniciar sesion</a></li>
            <li><a href="{% url 'register' %}">Registrarse</a></li>
            <li><a href="{%url 'LogoutUser' %}">Logout</a></li>

            {%endif%}

        </ul>
    </div>
</nav>
















{%endblock%}