

{%block content%}
{%load static%}



<nav class="containernav">
        <ul class="containernav__ul">
                <div class="containernav__ul__logo">
                        <img src="{%static 'images/logo.png'%}" alt="logo">
                </div>
                <div class="containernav__ul__centeritem">
                        <li class=" "><a class="nav-link linka"  href="{%url 'home'%}">Inicio</a></li>
                        <li class=" "><a class="nav-link linka"  href="#">ubicacion</a></li>
                        <li class=" "><a class="nav-link linka"  href="#">Sobre nosotros</a></li>
                        <li class=""><a class="nav-link linka"  href="#">Contactenos</a></li>
                        <li class="">
                                <form action="{%url 'home' %}" method="GET">
                                        <input type="text" name="search" placeholder="Buscar elemento">
                                </form>
                        </li>
                </div>
                
                        {%if request.user.is_authenticated%}
                        <div class="containernav__ul__enditem">
                                <li class="">
                                        <a class="containerimg"  href="{%url 'carrito'%}"><span>{{CarCount}}</span><img src="{%static 'images/carrito.png'%}" alt="car"></a>
                                </li>
                                <li class="">
                                        <a class=""  href="{%url 'profile' user.id %}">
                                                <img class="UserProfileImg"src="{{request.user.avatar.url}}" alt="">
                                        </a>
                                </li>
                        
                                <!-- <li class="nav-item "><a class="nav-link"  href="{%url 'addproduct' %}">add-product</a></li> -->
                        </div>      
                
                        {%else%}        
                        <div class="containernav__ul__centeritem">  
                                <li class=" ">
                                        <a class="nav-link linka"  href="{%url 'login' %}">iniciar sesion</a>
                                </li>
                                <li class="">
                                        <a class="nav-link linka"    href="{% url 'register' %}">Registrarse</a>
                                </li>      
                        </div>                  
                        {%endif%}
                
        </ul>  
</nav>
















{%endblock%}